<div class="container my-5">
  <div class="row g-0 border rounded flex-md-row mb-4 p-4 shadow h-md-250 bg-body-tertiary">
    <app-header></app-header>
    <div class="row">
      <div class="d-flex flex-column flex-md-row gap-4 justify-content-center">
        <section class="col-9">
          <div class="d-flex flex-column flex-md-row gap-4 align-items-center justify-content-top">
            <app-sort (sortSelected)="onSortSelected($event);"></app-sort>
            <app-new-expense></app-new-expense>
            <app-new-category
            (categoryAdded)="onCategoryAdded($event)"
            ></app-new-category>
          </div>
          <app-expense-list [expenses]="expenses"></app-expense-list>
          <app-pager [totalCount]="totalCount" [pageSize]="trackerParams.pageSize"
            (pageChanged)="onPageChanged($event)"></app-pager>
        </section>
        <section class="col-3">
          <app-filter [categories]="categories" [trackerParams]="trackerParams"
            (categoryIdSelected)="onCategorySelected($event)" (monthIdSelected)="onMonthSelected($event)"></app-filter>
        </section>
      </div>
    </div>
  </div>
</div>